In [1]:
pip install faker

Defaulting to user installation because normal site-packages is not writeable
Collecting faker
  Downloading Faker-14.2.1-py3-none-any.whl (1.6 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\programdata\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-14.2.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script faker.exe is installed in 'C:\Users\Irin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

# Importing standard libraries

In [2]:
from faker import Faker
import numpy as np
import pandas as pd
from random import choice, sample

In [3]:
df1 = Faker()

In [4]:
def create_names(n):
   name = []
   for _ in range(0, n):
        name.append(df1.name())
   return name

In [5]:
name = create_names(362806)

In [6]:
df_name = pd.DataFrame(list(zip(name)),columns = ['Name'])

In [7]:
df_name.head()

             Name
0     Megan Smith
1    Sheryl Avery
2  Scott Santiago
3  Robert Carroll
4     Dylan Booth

In [8]:
df_name.shape

(362806, 1)

# Creating race column

In [9]:
def weighted_cartesian_choice(*iterables):
    # An arbitrary number of tuple or lists,each consisting of population and weights.weighted_cartesian_choice returns a list 
    #with a chocie from each population
    
    res = []
    for population, weights in iterables:
     #normalize weight:
        weights = np.array(weights) / sum(weights)
        lst = np.random.choice(population, p=weights)
        res.append(lst)
    return res
race = (['White','Hispanic', 'Black','Asian'], 
        [.32,.28,.22,.18])

list=[]
for i in range(362806):
    res = weighted_cartesian_choice(race)
    list.append(res)

In [10]:
df_race=pd.DataFrame(list, columns = ['Race'])

In [11]:
df_race.head()

    Race
0  Black
1  White
2  Black
3  Asian
4  Asian

# Concatenating name and race columns

In [12]:
df_nr = pd.concat([df_name, df_race], axis=1).reindex(df_race.index)

In [14]:
df_drugs = pd.read_csv('webmd.csv (1).zip')

# Creating the final dataset

In [15]:
data_drugs = pd.concat([df_nr, df_drugs], axis=1).reindex(df_drugs.index)

In [16]:
data_drugs.head()

,Name,Race,Age,Condition,Date,Drug,DrugId,EaseofUse,Effectiveness,Reviews,Satisfaction,Sex,Sides,UsefulCount
0,Megan Smith,Black,75 or over,Stuffy Nose,9/21/2014,25dph-7.5peh,146724,5,5,I'm a retired physician and of all the meds I ...,5,Male,"Drowsiness, dizziness , dry mouth /nose/thro...",0
1,Sheryl Avery,White,25-34,Cold Symptoms,1/13/2011,25dph-7.5peh,146724,5,5,cleared me right up even with my throat hurtin...,5,Female,"Drowsiness, dizziness , dry mouth /nose/thro...",1
2,Scott Santiago,Black,65-74,Other,7/16/2012,warfarin (bulk) 100 % powder,144731,2,3,why did my PTINR go from a normal of 2.5 to ov...,3,Female,,0
3,Robert Carroll,Asian,75 or over,Other,9/23/2010,warfarin (bulk) 100 % powder,144731,2,2,FALLING AND DON'T REALISE IT,1,Female,,0
4,Dylan Booth,Asian,35-44,Other,1/6/2009,warfarin (bulk) 100 % powder,144731,1,1,My grandfather was prescribed this medication ...,1,Male,,1

# Converting the dataframe to csv file

In [17]:
data_drugs = data_drugs.to_csv('drugs_dataset.csv', index=False)